#loading {
  position: fixed;
  margin: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  background-color: #ECF0F1;
}

.loader,
.loader:before,
.loader:after {
  background: #ffffff;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #ffffff;
  text-indent: -9999em;
  margin: 45vh auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
   animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

/*import fonts*/
@font-face {
    font-family: 'Formula1 Display';
    font-style: normal;
    font-weight: 600;
    src: local('Formula1 Display Bold'), 
    url(https://keguigong.org/fonts/Formula1_Display_Bold.otf)
}

@font-face {
  font-family: 'Formula1 Display';
  font-style: normal;
  font-weight: 300;
  src: local('Formula1 Display Regular'),
  url(https://keguigong.org/fonts/Formula1_Display_Regular.otf)
}

@font-face {
  font-family: 'Formula1 Display';
  font-style: italic;
  font-weight: 300;
  src: local('Formula1 Display Italic'),
  url(https://keguigong.org/fonts/Formula1_Display_Italic.otf)
}

@font-face {
  font-family: 'Formula1 Display';
  font-style: normal;
  font-weight: 700;
  src: local('Formula1 Display Black'),
  url(https://keguigong.org/fonts/Formula1_Display_Black.otf)
}

.bold {
  font-weight: 600;
  word-wrap: break-word;
}

.extrabold {
  font-weight: 700;
}

html {
  font-family: 'Formula1 Display',sans-serif ;
  font-weight: 300;
  font-style: normal;
}

body {
  color: #25283D;
  background-color: #ECF0F1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: #8F3985;
  text-decoration: none;
}

/*auto-hiding-navigation*/
.cd-auto-hide-header {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: rgba(255,255,255,0.5);
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.cd-auto-hide-header::after {
  clear: both;
  content: "";
  display: block;
}

.cd-auto-hide-header.is-hidden {
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
      transform: translateY(-100%);
}

@media only screen and (min-width: 993px) {
  .cd-auto-hide-header {
    height: 80px;
  }
}

/*logo properties*/
header .cd-logo {
  position: absolute;
  display: inline-block;
}

header .cd-logo svg {
  height: 30px;
  vertical-align: middle;
}

header .cd-logo a {
 font-size: 1.6em;
 color: #37474f;
}

@media only screen and (min-width: 993px){
  header .cd-logo {
    left: auto;
    margin-top: 25px;
  }
}

@media only screen and (max-width: 992px) {
  header .cd-logo {
    left: 50%;
    margin-top: 15px;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
  }
}

/*main*/
svg.outlineanime g {
  stroke: #ffffff;
  stroke-width: 3;
}

main svg {
  padding:0;
  margin-top: 200px;
  padding-bottom: 0;
}

@media only screen and (max-width: 992px) {
  main svg {
    width: 100%;
  }

  main .empty {
    height: 150px;
  }

  main a {
    font-size: 3.8rem;
    line-height: 110%;
  }
}

@media only screen and (min-width: 993px) {
  main svg {
    width: 80%;
  }

  main .empty {
    height: 200px;
  }

  main a {
    font-size: 4.2rem;
    line-height: 110%;
  }
}

/*gradient style*/
.mini-bg-wrapper {
  position: relative;
  overflow: hidden;
  padding-top:0px;
  padding-bottom:0px;
}

.mini-bg-design {
  position: absolute;
  width: 150%;
  left: -25%;
  height: 40vh;
  -webkit-transform: rotate(-5deg) skew(-25deg, 0deg);
  transform: rotate(-5deg) skew(-25deg, 0deg);
  background: #d299c2;
  background: -moz-linear-gradient(left, #d299c2 0%, #fef9d7 100%);
  background: -webkit-linear-gradient(left, #d299c2 0%, #fef9d7 100%);
  background: linear-gradient(to right, #d299c2 0%, #fef9d7 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d299c2', endColorstr='#fef9d7',GradientType=1 );                       
}

/*footer styles*/
footer .row .col{
  margin-top: 30px;
}

footer li a {
  color: #9e9e9e;
}
footer li a:hover {
  padding: 0 0 10px 0;
  border-bottom: 1.2px solid #ffffff;
  color: #ffffff;
}

footer .l6 ul li {
  margin-top: 20px;
}

footer .l5 ul li {
  display: inline-block;
  margin-left:0;
  margin-right:20px; 
}

footer .l6 a img {
  height: 25px;
  vertical-align: middle;
}

footer .l5 a img {
  width: 32px;
  vertical-align: middle;
}

footer .empty {
  margin-top: 40px;
}